/* Header Font */
@font-face {
  font-family: 'HeaderFont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./CHy2V-3HFUT7aC4iv1TxGDR9DHEserHN25py2TTp0H1db5JagkmX.woff2') format('woff2');
}

@font-face {
  font-family: 'HeaderFont';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./CHy2V-3HFUT7aC4iv1TxGDR9DHEserHN25py2TTp0H1db5JagkmX.woff2') format('woff2');
}

/* Body Font */
@font-face {
  font-family: 'BodyFont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./cIf6MapbsEk7TDLdtEz1BwkmnaBhSL7Y1Q.woff2') format('woff2');
}
